<div class="container2" data-aos="fade-right" data-aos-duration="1000">
  <div></div>
  <div class="containerText">
    <h1>The idea of René Descartes.</h1>
    <p>
      René Descartes was a French philosopher, physicist and mathematician.
      During the Modern Age, he was also known by his Latin name Renatus
      Cartesius.
    </p>
  </div>
  <div class="detartes">
    <img src="img/rene_decartez.jpeg" alt="rene Descartes" width="500px" />
  </div>
  <div></div>
</div>

<div class="container3" data-aos="fade-left" data-aos-duration="20000">
  <div></div>
  <div class="plato">
    <img src="img/plato.jpeg" alt="plato" width="500px" />
  </div>
  <div class="containerText">
    <h1>The idea of Plato.</h1>
    <p>
      Plato was a philosopher and mathematician from the classical period of
      Ancient Greece, author of several philosophical dialogues and founder of
      the Academy in Athens, the first institution of higher education in the
      Western world
    </p>
  </div>

  <div></div>
</div>
