<div class="container1">
  <div class="card" style="width: 20rem">
    <img src="img/TheFuture.jpeg" class="card-img-top" alt="future" />
    <div class="card-body">
      <h5 class="card-title">The future.</h5>
      <p class="card-text">Are the future is coming or we in?</p>
      <a
        href="https://www.amazon.com.br/Future-Normal-Thrive-Decade-English-ebook/dp/B0BVN1Y7JH/ref=sr_1_9?__mk_pt_BR=ÅMÅŽÕÑ&crid=18L6VBTTO84KJ&dib=eyJ2IjoiMSJ9.ycDKSmkCohB4MHk61C1b5RCYb683A0tqCQRZQk112dM7kvae5ePmDgx5rubF-VanPJcB5OWZ1jJ6cg4Wvvnj3pALYMF7ibFpR8RI9QbqyQo88h1TND4HGTVwlUuFIV0eIxiMrL-L3fhucA6v8lRkzkjV-ld9pTVJmzeXLOFieDS3NaoSNXondAPeZH0OfoHVMhHKMIddWOjW5_EHa8FRn1571yx9mJqe_S0_k2xrRP4.xKNKGvYfz8UYYuA2RFcoxHILjhDmgsSuWHZvgRyIF60&dib_tag=se&keywords=the+future&qid=1721769925&s=digital-text&sprefix=the+futur%2Cdigital-text%2C180&sr=1-9"
        target="_blank"
      >
        <button
          type="button"
          class="btn btn-danger"
          id="btn_danger"
          data-aos="zoom-in"
        >
          Click here
        </button>
      </a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="img/Marx.jpeg" class="card-img-top" alt="Karl Marx" />
    <div class="card-body">
      <h5 class="card-title">Understand capitalism.</h5>
      <p class="card-text">Understand how this system work nowadays.</p>
      <a
        href="https://www.amazon.com.br/Capital-Livro-Nova-Edição-Economia/dp/6557172298/ref=asc_df_6557172298/?tag=googleshopp00-20&linkCode=df0&hvadid=647461171141&hvpos=&hvnetw=g&hvrand=18111968120443060844&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9198184&hvtargid=pla-2257126917247&psc=1&mcid=bcf17339abcb345caf390142900d9cf0"
        target="_blank"
        ><button type="button" class="btn btn-danger" data-aos="zoom-in">
          Click here
        </button>
      </a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="img/youngGirl.jpeg" class="card-img-top" alt="young girl" />
    <div class="card-body">
      <h5 class="card-title">How to read more?</h5>
      <p class="card-text">
        This article teach you how to improve your reading skills
      </p>
      <a
        href="https://www.amazon.com.br/Read-More-Live-Thought-Possible-ebook/dp/B07QDH1VXB/ref=sr_1_2?__mk_pt_BR=ÅMÅŽÕÑ&crid=2EQJZUKUWLVH8&dib=eyJ2IjoiMSJ9.-z_eCI1nLmbv3zEUWzfH8zKXa8guIa6Z0zNbfyW24Ypb2J5xuiJPpV1F8elVNTI3Z0EMDFmGudMrPH0Y9xSj_kMEHqE-pMIp6Yw0TflMa74YuVttvVR8YfcSjWaoIEacnJREF8i5D23I7812JvG7A83rdY6qqoVkUVwkyV1uw1wuecrxOOqwJ9xWYq90muWamdXDLbyv-rImz1OFBLXzjX4e3cx2PspwO7wJPYmsb4U.oDXRhJ-e1FczU07VDO02Cr6BXK0hrfU08Gm2_5MZ9mw&dib_tag=se&keywords=How+to+read+more&qid=1721770025&s=digital-text&sprefix=how+to+read+mor%2Cdigital-text%2C170&sr=1-2"
        target="_blank"
      >
        <button type="button" class="btn btn-danger" data-aos="zoom-in">
          Click here
        </button>
      </a>
    </div>
  </div>
</div>
