<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body>
    <div class="container">
      <div class="cont1"><h1>Who am i?</h1></div>
      <div class="cont2">
        <p>
          Hello! My name is Vitor Pio Vieira, and I am thrilled to introduce you
          to my latest creation, RedLibrary. This website is a culmination of my
          lifelong passion for books and a desire to share the magic of reading
          with others. From a young age, I have been captivated by the power of
          stories, the wisdom contained in non-fiction, and the joy of losing
          myself in the pages of a good book. Whether it’s a timeless classic, a
          gripping thriller, or a thought-provoking piece of literature, I
          believe that every book has the potential to enrich our lives in
          unique ways. RedLibrary is designed to be a haven for fellow book
          lovers, a place where you can discover new titles, explore different
          genres, and connect with a community that shares your love for
          reading. I invite you to join me on this literary journey and dive
          into the endless possibilities that books offer. Welcome to
          RedLibrary!
        </p>
      </div>
      <div class="cont4">
        <img src="img/file.jpg" width="100%" height="100%" alt="Autor" />
      </div>
    </div>
  </body>
</html>
