<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styleFaqs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <title>Faqs</title>
  </head>
  <body>
    <a href="/return"> <img src="img/return.svg" alt="return" /></a>
    <% if(locals.n){ %>
    <h1 class="frase">Pergunta foi enviada <%= n %></h1>

    <% } %>
    <div class="container">
      <div class="cont1"><p>Send your question</p></div>
      <div class="cont2">
        <form action="/submit" method="post">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required />
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />
          <label for="question">Question</label>
          <input type="text" name="question" id="question" required />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </body>
</html>
